{
  "importOrder": [
    "^node:",
    "^@(.*)$",
    "^[a-z](?!.*\\.(png|jpg|gif|svg|css))(.*)$",
    "^.(?!.*\\.(png|jpg|gif|svg|css))(.*)$",
    "^.+\\.(png|jpg|gif|svg|css)$"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
